.nav
{
    background-color: $accent-dark;
    color: white;
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
    padding-left: 8px;
    margin-top: -8px;
    border-bottom: darken($accent-dark, 10) 1px solid;
    -webkit-user-select: none;
    -webkit-app-region: drag;

    #nav-title
    {
        margin-right: auto;
    }

    button
    {
        color: white;
        width: 50px;
        background: $accent-dark;
        border: none;
        transition-duration: .2s;
        -webkit-app-region: no-drag;

        &:hover
        {
            background: mix($accent-dark, red, 50);
            cursor: pointer;
        }
    }
}